@import 'alpmixins'

@font-face
  font-family 'liga'
  src url($cdn'font/liga/websymbolsligaregular.eot')
    , url($cdn'font/liga/websymbolsligaregular.woff') format('woff')
    , url($cdn'font/liga/websymbolsligaregular.ttf') format('truetype')
    , url($cdn'font/liga/websymbolsligaregular.svg#web_symbols_ligaregular') format('svg')

@font-face
  font-family 'FontAwesome'
  src url($cdn'font/awesome/fontawesome-webfont.eot?v=4.1.0')
  src url($cdn'font/awesome/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype')
    , url($cdn'font/awesome/fontawesome-webfont.woff?v=4.1.0') format('woff')
    , url($cdn'font/awesome/fontawesome-webfont.ttf?v=4.1.0') format('truetype')
    , url($cdn'font/awesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg')
  font-weight normal
  font-style normal



body, html
  margin 0
  padding 0
  -webkit-font-smoothing antialiased
  font-family "Helvetica", arial
  font-weight normal
  font-size 16px
  color #666
a
  text-decoration none

span._btn:hover
  cursor pointer

.hide
  display none
  visibility hidden

.showa
  display inline-block
  visibility visible

.dropdown
  margin 0
  position absolute
  z-index 9999

.key-font_awesome_unicode
  display inline-block
  font-family FontAwesome
  font-style normal
  font-weight normal
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.d_div
  display inline-block

.sub_path
  text-align center

.main_path
  margin 0
  padding 0
  height 100%
