@font-face
  font-family 'liga'
  src url('http://localhost:8080/static/font/liga/websymbolsligaregular.eot')
    , url('http://localhost:8080/static/font/liga/websymbolsligaregular.woff') format('woff')
    , url('http://localhost:8080/static/font/liga/websymbolsligaregular.ttf') format('truetype')
    , url('http://localhost:8080/static/font/liga/websymbolsligaregular.svg#web_symbols_ligaregular') format('svg')

@font-face
  font-family 'awesome'
  src url('http://localhost:8080/static/font/awesome/fontawesome-webfont.eot')
    , url('http://localhost:8080/static/font/awesome/fontawesome-webfont.woff') format('woff')
    , url('http://localhost:8080/static/font/awesome/fontawesome-webfont.ttf') format('truetype')
    , url('http://localhost:8080/static/font/awesome/fontawesome-webfont.svg') format('svg')



body, html
  margin 0
  padding 0
  -webkit-font-smoothing antialiased
  font-family "Helvetica", arial
  font-weight normal
  font-size 16px
  color #666
a
  text-decoration none
